<div class="row">
            <div class="box">
                <div class="col-lg-12 text-center">
                    <div id="carousel-example-generic" class="carousel slide">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full" src="../images/slide-1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../images/slide-2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full" src="../images/slide-3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" href="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" href="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                    <h2 class="brand-before">
                        
                    </h2>
                    <h1 class="brand-name">Le Vecchie Credenze</h1>
                    <hr class="tagline-divider">
                    <h2>
                        <small>di
                            <strong>Vittorio e Valeria</strong>
                        </small>
                    </h2>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>la storia</strong>
                    </h2>
                    <hr>
                    <img class="img-responsive img-border img-left" src="../images/intro-pic.jpg" alt="">
                    <hr class="visible-xs">
                    <p>
                        Vittorio Dalla Vecchia, patron de “Le Vecchie Credenze”, è nato a Valdagno nel 1966 e ha frequentato l'I.P.C. a Recoaro Terme, vicino a Vicenza. L'istituto fa parte dell'Associazione Europea delle scuole alberghiere e del turismo, istituita nel 1963.
                    </p>
                    <p>
                        Le origini del ristorante “Le Vecchie Credenze” sono particolari: Vittorio, dopo 10 anni di esperienze lavorative in alberghi italiani di prima categoria, giunge a Chieri. Qui trasforma un bar di vecchie tradizioni in un bel ristorante, dove inizialmente propone la sua cucina veneta. Poi rimane affascinato dalle ricette del territorio e, conquistato dai prodotti tipici piemontesi, inizia a promuovere esclusivamente le produzioni locali con un tocco di fantasia particolare tutto suo.
                    </p>
                    <p>
                        Dopo 18 anni a Chieri, Vittorio apre “Le Vecchie Credenze” a Santena, un paesino di 10000 abitanti circa.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        <strong>il locale</strong>
                    </h2>
                    <hr>
                    <p>
                        “Le Vecchie Credenze” è situato in un'ala di un’antica cascina, dove l'abitato di Santena lascia spazio alla campagna circostante.
                    </p>
                    <p>
                        Il ristorante è frutto di una ristrutturazione accurata, studiata per accogliere comodamente gli ospiti mantenendo la ruralità e il calore del contesto, sia nella sala interna che nell'ampio porticato. Tra dentro e fuori i coperti sono ca 130. 
                    </p>
                    <p>
                        Un ampio parcheggio ed uno spazio esterno dedicato ai bambini sono disponibili all'interno della proprietà, completamente recintata. 
                    </p>
                    <p>
                        Gli ospiti vengono accolti subito dal profumo del pane appena sfornato, come era consuetudine (un tempo) nelle case rurali. Nei mesi invernali la fiamma del caminetto rallegra i commensali, coinvolgendoli in un'atmosfera tranquilla e raffinata: quello che ci vuole per assaporare al meglio i piaceri della buona tavola.
                    </p>
                    <p>
                        La prossimità all'uscita Santena della tangenziale Villanova–Torino consente al ristorante di essere facilmente raggiungibile e di essere una mèta ideale anche per veloci pranzi o cene di lavoro. 
                    </p>
                    <p>
                        È disponibile, su richiesta, una saletta per pochi intimi nella cantina con voltini in mattoni a vista.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr />
                    <h2 class="intro-text text-center">
                        <strong>la cucina</strong>
                    </h2>
                    <hr />
                    <p>
                        La cucina è guidata dallo chef patron Vittorio Dalla Vecchia, che persegue un giusto equilibrio tra tradizione e innovazione, promozione dei prodotti del territorio e ricerca, in un ambiente piacevole e con un servizio particolarmente curato.
                    </p>
                    <p>
                        I menù vengono studiati con grande professionalità: tutte le proposte tengono conto della stagionalità, del territorio, della qualità dei cibi e della ricchezza delle portate, con particolare attenzione all'abbinamento dei vini. E’ da evidenziare un grande apprezzamento e il più rigoroso rispetto per la produzione di allevatori e produttori che forniscono a Vittorio gli ingredienti per le sue ricette.
                    </p>
                </div>
            </div>
        </div>

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr />
                    <h2 class="intro-text text-center">
                        <strong>dove siamo</strong>
                    </h2>
                    <hr />
                    <div id="map-canvas"></div>
                </div>
            </div>
        </div>
