<div class="row">
	<div class="box">
		<ul class="tab-header">
			<li>Antipasti</li>
			<li>Primi piatti</li>
			<li>Secondi piatti</li>
			<li>Dessert</li>
			<li>Menu degustazione</li>
		</ul>
		<br/>
		<div class="tab-container">

			<div id="tab1" class="tab_content">
				<h1>Prova 1</h1>
				<p>provaprova</p>
			</div>

			<div id="tab2" class="tab_content">
				<h1>Prova 2</h1>
				<p>provaprova</p>
			</div>

			<div id="tab3" class="tab_content">
				<h1>Prova 3</h1>
				<p>provaprova</p>
			</div>

			<div id="tab4" class="tab_content">
				<h1>Prova 4</h1>
				<p>provaprova</p>
			</div>

			<div id="tab5" class="tab_content">
				<h1>Prova 5</h1>
				<p>provaprova</p>
			</div>

		</div>
	</div>
</div>
