<div class="row">

	<div class="box">

		<div class="page-header">
			<h1>Aggiungi un nuovo membro</h1>
		</div>

		<form role="form">

			<div class="form-group">

				<label for="contactName">Nome</label>
				<input ng-model="contactFormData.name" type="text" class="form-control" id="contactName" placeholder="Nome" required />

			</div>

			<div class="form-group">

				<label for="contactSurname">Cognome</label>
				<input ng-model="contactFormData.surname" type="text" class="form-control" id="contactSurname" placeholder="Cognome" required />

			</div>

			<div class="form-group">

				<label for="contactEmail">Email</label>
				<input ng-model="contactFormData.email" type="email" class="form-control" id="contactEmail" placeholder="example@gmail.com" required />

			</div>

			<button type="submit" class="btn btn-primary" ng-click="createContact()">Aggiungi</button>
			<button type="reset" class="btn btn-danger">Reset</button>
			<button type="button" class="btn btn-warning" ng-click="contactListPage()">Annulla</button>
		</form>

	</div>

</div>