<!DOCTYPE html>
<!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
<!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
<!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->
<!--[if gt IE 8]><!--> <html class="no-js"> <!--<![endif]-->
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <base href="/">
    <title>Home | levecchiecredenze.it</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width">

    <link rel="stylesheet" type="text/css" href="../styles/main.css" />
    <link rel="stylesheet" type="text/css" href="../styles/bootstrap.min.css" />
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet" />
    <link href="http://fonts.googleapis.com/css?family=Open+Sans:300italic,400italic,600italic,700italic,800italic,400,300,600,700,800" rel="stylesheet" type="text/css">
    <link href="http://fonts.googleapis.com/css?family=Josefin+Slab:100,300,400,600,700,100italic,300italic,400italic,600italic,700italic" rel="stylesheet" type="text/css">
    <link type="text/css" rel="stylesheet" href="../styles/lightbox.css">

  </head>
  <body ng-app="lvc">
    <!--[if lt IE 7]>
      <p class="browsehappy">You are using an <strong>outdated</strong> browser. Please <a href="http://browsehappy.com/">upgrade your browser</a> to improve your experience.</p>
    <![endif]-->

    <div class="brand">Le Vecchie Credenze</div>
    <div class="address-bar">di Vittorio e Valeria</div>

    <div class="container">

    <nav class="navbar navbar-default" role="navigation" ng-include="'partials/navbar.html'"></nav>
    <div ng-include="'views/flashMessage.html'" class="alert_messages"></div>
    <div ng-view></div>

    <div ng-include="'partials/footer.html'"></div>
    </div>

    <!--[if lt IE 9]>/admin
    <script src="bower_components/es5-shim/es5-shim.js"></script>
    <script src="bower_components/json3/lib/json3.min.js"></script>
    <![endif]-->

    <!-- build:js(app) scripts/vendor.js -->
    <!-- bower:js -->
    <script src="bower_components/jquery/dist/jquery.min.js"></script>
    <script src="bower_components/angular/angular.js"></script>
    <script src="bower_components/angular-resource/angular-resource.js"></script>
    <script src="bower_components/angular-route/angular-route.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap.js"></script>
    <script src="bower_components/bootstrap/dist/js/bootstrap.js"></script>
    <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
    <script src="bower_components/angular-modal-service/dst/angular-modal-service.min.js"></script>
    <script src="bower_components/angular-utils-pagination/dirPagination.js"></script>
    
    <!-- endbower -->
    <!-- endbuild -->

    <!-- build:js({.tmp,app}) scripts/scripts.js -->
    <script src="scripts/app.js"></script>
    <!-- endbuild -->


    <!-- Services -->

    <script src="scripts/services/GalleryService.js"></script>
    <script src="scripts/services/ContactsService.js"></script>
    <script src="scripts/services/ContactsListService.js"></script>

    <!-- Controllers -->

    <script src="scripts/controllers/ModalCtrl.js"></script>
    <script src="scripts/controllers/NavBarCtrl.js"></script>
    <script src="scripts/controllers/GalleryCtrl.js"></script>
    <script src="scripts/controllers/ContactsCtrl.js"></script>
    <script src="scripts/controllers/FlashMessageCtrl.js"></script>
    <script sr="scripts/controllers/AuthCtrl.js"></script>

    <!-- Utils -->
    <script src="scripts/utils/FlashMessage.js"></script>
    <script src="scripts/utils/ErrorHandler.js"></script>
    <script src="vendor/lightbox.min.js"></script>

    <script>
    $('.carousel').carousel({
        interval: 5000 //changes the speed
    })
    </script>
</body>
</html>
